@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --main-color:#222323;
    --accent-color: white;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
} 

body {
    max-width: 980px;
    margin: auto
}

.overheader {
    background-color: red;
    display: flex;
    justify-content: space-around;
}
.overheader p{
    font-family:'PT Sans';
    color: var(--accent-color);
    font-weight: bold;    
}

header .header-contacts a {
    color: var(--accent-color);
    text-decoration: none;
    font-family:'PT Sans';
    font-weight: bold;
}

header .header-contacts a:hover {
    text-decoration: underline;
}

.header-menu {
    background-color: var(--main-color);
}

.header-menu a {
    font-family:'PT Sans';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 12.5px;
    margin-right: 20px;
    margin-top: 12.5px;
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner {
    background-image: url(../img/banner-photo.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 400px;
}

.banner p, h1, a {
    margin-left: 20px;
    font-family: 'Bebas Neue';
}

.banner p {
    color: grey;
    font-size: 20px;
}

.banner h1 {
    font-size: 80px;
    font-weight: 100;
}

.banner span {
    color: red;
}



/*Controls*/

.button {
    background-color: #f40106; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }
  .button:hover {
    background-color: var(--main-color);
    color: white;