@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --main-color: #222323;
    --accent-color: white;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto
}

/* ------- Overheader ------- */

.overheader {
    display: none;
}

/* ------- Header-menu ------- */

.nav-link {
    font-family: 'PT Sans';
    font-weight: bold;
    color: var(--accent-color);
}

.navbar-nav {
    align-items: center;
}

.nav-item a:hover {
    color: red !important;
    text-decoration: underline !important;
}

.header-contacts {
    padding-right: 7px;
}

.links-youtube {
    padding-left: 6px;
}

/* ------- Banner ------- */

.banner {
    background-image: url(../img/banner-photo.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 400px;
}

.banner-text {
    margin-left: 22px;
    font-family: 'Bebas Neue';
    color: grey;
    font-size: 25px;
}

.banner-text-main {
    margin-left: 20px;
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 100;
}

.banner-text-button {
    margin-left: 20px;
    font-family: 'Bebas Neue';
}

.banner span {
    color: red;
}

/* ------- Quote ------- */

.quote {
    display: block;
    margin-top: 15px;
}

.quote-text {
    font-family: 'PT Sans';
    text-align: center;
    font-style: italic;
    margin-top: 15px;
}

.quote-signature {
    font-family: 'PT Sans';
    color: grey;
    text-align: center;
    padding-top: 5px;
}

.quote-line {
    width: 350px;
    margin: auto;
}

.quote-red {
    color: red;
}

/* ------- Categories ------- */

.categories {
    display: grid;
}

.categories-name {
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: 100;
}

.new-arrivals {
    background-image: url(../img/new-arrivals.svg);
    background-size: cover;
    background-position: center;
    max-height: 600px;

}

.trainers {
    background-image: url(../img/trainers.png);
    background-size: cover;
    background-position: center;
    max-height: 600px;
    
}

.hot-sale {
    background-image: url(../img/hot-sale.png);
    background-size: cover;
    background-position: center;
    max-height: 600px;
    
}



@media (min-width: 980px) {

    /* ------- Overheader ------- */

    .overheader {
        background-color: red;
        display: flex;
        justify-content: space-between;
        height: 30px;
    }
    
    .overheader-text p {
        font-family: 'PT Sans';
        color: var(--accent-color);
        font-weight: bold;
        padding-left: 30px;
        padding-top: 1px;
    }

    .overheader-contacts a {
        padding-right: 30px;
        color: var(--accent-color);
        text-decoration: none;
        font-family: 'PT Sans';
        font-weight: bold;
    }

    .overheader-contacts a:hover {
        text-decoration: underline;
    }

    /* ------- Header-menu ------- */

    .header-contacts {
        display: flex;
        align-items: center;
        padding-left: 350px;
    }

    .nav-item a:hover {
        color: red !important;
        text-decoration: underline !important;
    }

    .links-youtube {
        padding-left: 6px;
    }

    /* ------- Banner ------- */

    .banner-text {
        font-size: 20px;
    }
    
    .banner-text-main {
        font-size: 80px;
        font-weight: 100;
    }

    /* ------- Quote ------- */

    .quote-text {
        font-size: 20px;
    }
    
    .quote-signature {
        font-size: 15px;
    }
    
    .quote-line {
        width: 620px;
        margin: auto;
    }
}


/*Controls*/

.button {
    background-color: #f40106;
    /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: var(--main-color);
    color: white;
}